.elementor-379 .elementor-element.elementor-element-5cc56e01:not(.elementor-motion-effects-element-type-background),
.elementor-379 .elementor-element.elementor-element-5cc56e01 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #ffffff;
}

.elementor-379 .elementor-element.elementor-element-5cc56e01 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 26px 0px 026px 0px;
    z-index: 10;
}

.elementor-379 .elementor-element.elementor-element-5cc56e01 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-379 .elementor-element.elementor-element-23f8d3b6.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-379 .elementor-element.elementor-element-23f8d3b6.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-379 .elementor-element.elementor-element-478c32af {
    text-align: left;
}

.elementor-379 .elementor-element.elementor-element-478c32af .elementor-image img {
    width: 100%;
    max-width: 100%;
}

.elementor-379 .elementor-element.elementor-element-557ce291 > .elementor-element-populated {
    padding: 06px 0px 0px 0px;
}

.elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-menu-toggle {
    margin-left: auto;
    background-color: rgba(255, 255, 255, 0);
    font-size: 24px;
    border-width: 0px;
    border-radius: 0px;
}

.elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-nav-menu .elementor-item {
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-nav-menu--main .elementor-item {
    color: #174F79;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-nav-menu--main .elementor-item:hover,
.elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-nav-menu--main .elementor-item:focus {
    color: #174f79;
}

.elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
.elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
    background-color: #FFFFFF;
}

.elementor-379 .elementor-element.elementor-element-305a42a1 .e--pointer-framed .elementor-item:before,
.elementor-379 .elementor-element.elementor-element-305a42a1 .e--pointer-framed .elementor-item:after {
    border-color: #FFFFFF;
}

.elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-nav-menu--main .elementor-item.elementor-item-active {
    color: #174f79;
    border-bottom: 2px solid #174e78;

    /* text-decoration: underline */
}

.elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
.elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after {
    background-color: #FFFFFF;
}

.elementor-379 .elementor-element.elementor-element-305a42a1 .e--pointer-framed .elementor-item.elementor-item-active:before,
.elementor-379 .elementor-element.elementor-element-305a42a1 .e--pointer-framed .elementor-item.elementor-item-active:after {
    border-color: #FFFFFF;
}

.elementor-379 .elementor-element.elementor-element-305a42a1 .e--pointer-framed .elementor-item:before {
    border-width: 1px;
}

.elementor-379 .elementor-element.elementor-element-305a42a1 .e--pointer-framed.e--animation-draw .elementor-item:before {
    border-width: 0 0 1px 1px;
}

.elementor-379 .elementor-element.elementor-element-305a42a1 .e--pointer-framed.e--animation-draw .elementor-item:after {
    border-width: 1px 1px 0 0;
}

.elementor-379 .elementor-element.elementor-element-305a42a1 .e--pointer-framed.e--animation-corners .elementor-item:before {
    border-width: 1px 0 0 1px;
}

.elementor-379 .elementor-element.elementor-element-305a42a1 .e--pointer-framed.e--animation-corners .elementor-item:after {
    border-width: 0 1px 1px 0;
}

.elementor-379 .elementor-element.elementor-element-305a42a1 .e--pointer-underline .elementor-item:after,
.elementor-379 .elementor-element.elementor-element-305a42a1 .e--pointer-overline .elementor-item:before,
.elementor-379 .elementor-element.elementor-element-305a42a1 .e--pointer-double-line .elementor-item:before,
.elementor-379 .elementor-element.elementor-element-305a42a1 .e--pointer-double-line .elementor-item:after {
    height: 1px;
}

body:not(.rtl) .elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-nav-menu--layout-horizontal .elementor-nav-menu > li:not(:last-child) {
    margin-right: 34px;
}

body.rtl .elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-nav-menu--layout-horizontal .elementor-nav-menu > li:not(:last-child) {
    margin-left: 34px;
}

.elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child) {
    margin-bottom: 34px;
}

.elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-nav-menu--dropdown a,
.elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-menu-toggle {
    color: #181A48;
}

.elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-nav-menu--dropdown {
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 0px 60px 0px 0px;
    border-color: rgba(55, 55, 193, 0.02);
    border-radius: 0px 0px 06px 06px;
}

.elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-nav-menu--dropdown a:hover,
.elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-nav-menu--dropdown a.highlighted,
.elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-menu-toggle:hover {
    color: #3737C1;
}

.elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-nav-menu--dropdown a:hover,
.elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-nav-menu--dropdown a.highlighted {
    background-color: rgba(55, 55, 193, 0);
}

.elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-nav-menu--dropdown a.elementor-item-active {
    color: #3737C1;
    background-color: rgba(2, 1, 1, 0);
}

.elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-nav-menu--dropdown .elementor-item,
.elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-nav-menu--dropdown  .elementor-sub-item {
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-nav-menu--dropdown li:first-child a {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-nav-menu--dropdown li:last-child a {
    border-bottom-right-radius: 06px;
    border-bottom-left-radius: 06px;
}

.elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-nav-menu--main .elementor-nav-menu--dropdown,
.elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.3);
}

.elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-nav-menu--dropdown a {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 18px;
    padding-bottom: 18px;
}

.elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown,
.elementor-379 .elementor-element.elementor-element-305a42a1 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    margin-top: 8px !important;
}

.elementor-379 .elementor-element.elementor-element-305a42a1 div.elementor-menu-toggle {
    color: #FFFFFF;
}

.elementor-379 .elementor-element.elementor-element-305a42a1 div.elementor-menu-toggle:hover {
    color: #FFFFFF;
}

.elementor-379 .elementor-element.elementor-element-305a42a1 > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
}

.elementor-379 .elementor-element.elementor-element-305a42a1 {
    z-index: 10;
}

.elementor-bc-flex-widget .elementor-379 .elementor-element.elementor-element-774ffeef.elementor-column .elementor-column-wrap {
    align-items: center;
}

.elementor-379 .elementor-element.elementor-element-774ffeef.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-379 .elementor-element.elementor-element-60ba0b7 .elementor-button .elementor-align-icon-right {
    margin-left: 12px;
}

.elementor-379 .elementor-element.elementor-element-60ba0b7 .elementor-button .elementor-align-icon-left {
    margin-right: 12px;
}

.elementor-379 .elementor-element.elementor-element-60ba0b7 .elementor-button {
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    fill: rgba(255, 255, 255, 0.87);
    color: #174f79;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-width: 1.5px 1.5px 1.5px 1.5px;
    border-color: #174f79;
    border-radius: 50px 50px 50px 50px;
    padding: 016px 036px 016px 036px;
}

.elementor-379 .elementor-element.elementor-element-60ba0b7 .elementor-button:hover,
.elementor-379 .elementor-element.elementor-element-60ba0b7 .elementor-button:focus {
    color: #ffffff;
    background-color: #f18324;
    border-color: #f18324;
}

.elementor-379 .elementor-element.elementor-element-60ba0b7 .elementor-button:hover svg,
.elementor-379 .elementor-element.elementor-element-60ba0b7 .elementor-button:focus svg {
    fill: #00C89C;
}

@media (max-width:1024px){
    .elementor-379 .elementor-element.elementor-element-5cc56e01 {
        padding: 20px 30px 0px 016px;
    }
}

@media (max-width:767px){
    .elementor-379 .elementor-element.elementor-element-5cc56e01 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 20px 0px 0px 0px;
    }

    .elementor-379 .elementor-element.elementor-element-23f8d3b6 {
        width: 50%;
    }

    .elementor-379 .elementor-element.elementor-element-557ce291 {
        width: 50%;
    }

    .elementor-bc-flex-widget .elementor-379 .elementor-element.elementor-element-557ce291.elementor-column .elementor-column-wrap {
        align-items: center;
    }

    .elementor-379 .elementor-element.elementor-element-557ce291.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
        align-content: center;
        align-items: center;
    }

    .elementor-379 .elementor-element.elementor-element-557ce291 > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }
}

@media (min-width:768px){
    .elementor-379 .elementor-element.elementor-element-23f8d3b6 {
        width: 12.014%;
    }

    .elementor-379 .elementor-element.elementor-element-557ce291 {
        width: 68.64%;
    }

    .elementor-379 .elementor-element.elementor-element-774ffeef {
        width: 18.631%;
    }
}

@media (max-width:1024px) and (min-width:768px){
    .elementor-379 .elementor-element.elementor-element-23f8d3b6 {
        width: 20%;
    }

    .elementor-379 .elementor-element.elementor-element-557ce291 {
        width: 80%;
    }
}