.elementor-499 .elementor-element.elementor-element-ef170e9:not(.elementor-motion-effects-element-type-background),
.elementor-499 .elementor-element.elementor-element-ef170e9 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: #3737C1;
}

.elementor-499 .elementor-element.elementor-element-ef170e9 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 60px 0px 80px 0px;
}

.elementor-499 .elementor-element.elementor-element-ef170e9 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-499 .elementor-element.elementor-element-ac2c47f {
    text-align: center;
}

.elementor-499 .elementor-element.elementor-element-ac2c47f .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 45px;
    font-weight: 400;
}

.elementor-499 .elementor-element.elementor-element-ac2c47f > .elementor-widget-container {
    padding: 0px 0px 20px 0px;
}

.elementor-499 .elementor-element.elementor-element-cd4b0b2:not(.elementor-motion-effects-element-type-background),
.elementor-499 .elementor-element.elementor-element-cd4b0b2 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-image: url("../../2020/06/bg_dots.png");
    background-position: center center;
}

.elementor-499 .elementor-element.elementor-element-cd4b0b2 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 160px 0px 100px 140px;
}

.elementor-499 .elementor-element.elementor-element-cd4b0b2 > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-499 .elementor-element.elementor-element-396f1a0 > .elementor-element-populated {
    padding: 40px 80px 40px 20px;
}

.elementor-499 .elementor-element.elementor-element-b1e7288 .elementor-field-group {
    padding-right: calc( 17px/2 );
    padding-left: calc( 17px/2 );
    margin-bottom: 26px;
}

.elementor-499 .elementor-element.elementor-element-b1e7288 .elementor-form-fields-wrapper {
    margin-left: calc( -17px/2 );
    margin-right: calc( -17px/2 );
    margin-bottom: -26px;
}

.elementor-499 .elementor-element.elementor-element-b1e7288 .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-499 .elementor-element.elementor-element-b1e7288 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-499 .elementor-element.elementor-element-b1e7288 .elementor-labels-inline .elementor-field-group > label {
    padding-left: 14px;
}

body:not(.rtl) .elementor-499 .elementor-element.elementor-element-b1e7288 .elementor-labels-inline .elementor-field-group > label {
    padding-right: 14px;
}

body .elementor-499 .elementor-element.elementor-element-b1e7288 .elementor-labels-above .elementor-field-group > label {
    padding-bottom: 14px;
}

.elementor-499 .elementor-element.elementor-element-b1e7288 .elementor-field-group > label,
.elementor-499 .elementor-element.elementor-element-b1e7288 .elementor-field-subgroup label {
    color: #181A48;
}

.elementor-499 .elementor-element.elementor-element-b1e7288 .elementor-field-group > label {
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.elementor-499 .elementor-element.elementor-element-b1e7288 .elementor-field-type-html {
    padding-bottom: 0px;
}

.elementor-499 .elementor-element.elementor-element-b1e7288 .elementor-field-group .elementor-field {
    color: #181A48;
}

.elementor-499 .elementor-element.elementor-element-b1e7288 .elementor-field-group .elementor-field,
.elementor-499 .elementor-element.elementor-element-b1e7288 .elementor-field-subgroup label {
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 300;
}

.elementor-499 .elementor-element.elementor-element-b1e7288 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: #ffffff;
    border-color: #EDEDF8;
    border-width: 1px 1px 1px 1px;
    border-radius: 2px 2px 2px 2px;
}

.elementor-499 .elementor-element.elementor-element-b1e7288 .elementor-field-group .elementor-select-wrapper select {
    background-color: #ffffff;
    border-color: #EDEDF8;
    border-width: 1px 1px 1px 1px;
    border-radius: 2px 2px 2px 2px;
}

.elementor-499 .elementor-element.elementor-element-b1e7288 .elementor-field-group .elementor-select-wrapper::before {
    color: #EDEDF8;
}

.elementor-499 .elementor-element.elementor-element-b1e7288 .elementor-button {
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    border-radius: 50px 50px 50px 50px;
    padding: 20px 50px 20px 50px;
}

.elementor-499 .elementor-element.elementor-element-b1e7288 .e-form__buttons__wrapper__button-next {
    background-color: #00C89C;
    color: #FFFFFF;
}

.elementor-499 .elementor-element.elementor-element-b1e7288 .elementor-button[type="submit"] {
    background-color: #00C89C;
    color: #FFFFFF;
}

.elementor-499 .elementor-element.elementor-element-b1e7288 .elementor-button[type="submit"] svg * {
    fill: #FFFFFF;
}

.elementor-499 .elementor-element.elementor-element-b1e7288 .e-form__buttons__wrapper__button-previous {
    color: #ffffff;
}

.elementor-499 .elementor-element.elementor-element-b1e7288 .e-form__buttons__wrapper__button-next:hover {
    background-color: #0AB08B;
    color: #FFFFFF;
}

.elementor-499 .elementor-element.elementor-element-b1e7288 .elementor-button[type="submit"]:hover {
    background-color: #0AB08B;
    color: #FFFFFF;
}

.elementor-499 .elementor-element.elementor-element-b1e7288 .elementor-button[type="submit"]:hover svg * {
    fill: #FFFFFF;
}

.elementor-499 .elementor-element.elementor-element-b1e7288 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-499 .elementor-element.elementor-element-b1e7288 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-499 .elementor-element.elementor-element-e51fb2d .elementor-icon-wrapper {
    text-align: center;
}

.elementor-499 .elementor-element.elementor-element-e51fb2d .elementor-icon i,
.elementor-499 .elementor-element.elementor-element-e51fb2d .elementor-icon svg {
    transform: rotate(0deg);
}

.elementor-499 .elementor-element.elementor-element-82bc6cc iframe {
    height: 470px;
}

.elementor-499 .elementor-element.elementor-element-8b08694 {
    margin-top: 0px;
    margin-bottom: 160px;
    padding: 20px 0px 20px 0px;
}

.elementor-499 .elementor-element.elementor-element-98f96a5 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-499 .elementor-element.elementor-element-56b2ca8:hover {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #00C89C;
}

.elementor-499 .elementor-element.elementor-element-56b2ca8:hover,
.elementor-499 .elementor-element.elementor-element-56b2ca8:hover > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}

.elementor-499 .elementor-element.elementor-element-56b2ca8 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px 20px 20px 20px;
}

.elementor-499 .elementor-element.elementor-element-e233285 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-499 .elementor-element.elementor-element-dba098d {
    text-align: left;
}

.elementor-499 .elementor-element.elementor-element-dba098d .elementor-image img {
    width: 80px;
    max-width: 100%;
}

.elementor-499 .elementor-element.elementor-element-eb4498d .elementor-heading-title {
    color: #181A48;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.elementor-499 .elementor-element.elementor-element-eb4498d > .elementor-widget-container {
    padding: 08px 0px 0px 0px;
}

.elementor-499 .elementor-element.elementor-element-3256fd0 {
    color: #717171;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.elementor-499 .elementor-element.elementor-element-3256fd0 > .elementor-widget-container {
    padding: 0px 20px 0px 0px;
}

.elementor-499 .elementor-element.elementor-element-aa9b7ee > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-499 .elementor-element.elementor-element-107eef1:hover {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #00C89C;
}

.elementor-499 .elementor-element.elementor-element-107eef1:hover,
.elementor-499 .elementor-element.elementor-element-107eef1:hover > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}

.elementor-499 .elementor-element.elementor-element-107eef1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px 20px 20px 20px;
}

.elementor-499 .elementor-element.elementor-element-98d5664 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-499 .elementor-element.elementor-element-9d17222 {
    text-align: left;
}

.elementor-499 .elementor-element.elementor-element-9d17222 .elementor-image img {
    width: 80px;
    max-width: 100%;
}

.elementor-499 .elementor-element.elementor-element-462aa0c .elementor-heading-title {
    color: #181A48;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.elementor-499 .elementor-element.elementor-element-462aa0c > .elementor-widget-container {
    padding: 08px 0px 0px 0px;
}

.elementor-499 .elementor-element.elementor-element-75bc2b1 {
    color: #717171;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 0px;
    letter-spacing: 0.5px;
}

.elementor-499 .elementor-element.elementor-element-75bc2b1 > .elementor-widget-container {
    padding: 0px 20px 0px 0px;
}

.elementor-499 .elementor-element.elementor-element-2178322 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-499 .elementor-element.elementor-element-0a6e3ab:hover {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #00C89C;
}

.elementor-499 .elementor-element.elementor-element-0a6e3ab:hover,
.elementor-499 .elementor-element.elementor-element-0a6e3ab:hover > .elementor-background-overlay {
    border-radius: 4px 4px 4px 4px;
}

.elementor-499 .elementor-element.elementor-element-0a6e3ab {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 20px 20px 20px 20px;
}

.elementor-499 .elementor-element.elementor-element-c8c837c > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-499 .elementor-element.elementor-element-57aa4f2 {
    text-align: left;
}

.elementor-499 .elementor-element.elementor-element-57aa4f2 .elementor-image img {
    width: 80px;
    max-width: 100%;
}

.elementor-499 .elementor-element.elementor-element-93c379a .elementor-heading-title {
    color: #181A48;
    font-family: "Poppins", Sans-serif;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.elementor-499 .elementor-element.elementor-element-93c379a > .elementor-widget-container {
    padding: 08px 0px 0px 0px;
}

.elementor-499 .elementor-element.elementor-element-b8a0807 {
    color: #717171;
    font-family: "Poppins", Sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 0px;
    letter-spacing: 0.5px;
}

.elementor-499 .elementor-element.elementor-element-b8a0807 > .elementor-widget-container {
    padding: 0px 20px 0px 0px;
}

.elementor-499 .elementor-element.elementor-element-597a4ce {
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    z-index: 2;
}

.elementor-499 .elementor-element.elementor-element-597a4ce,
.elementor-499 .elementor-element.elementor-element-597a4ce > .elementor-background-overlay {
    border-radius: 0px 04px 0px 0px;
}

.elementor-499 .elementor-element.elementor-element-4f42ef0:not(.elementor-motion-effects-element-type-background) > .elementor-column-wrap,
.elementor-499 .elementor-element.elementor-element-4f42ef0 > .elementor-column-wrap > .elementor-motion-effects-container > .elementor-motion-effects-layer {
    background-color: rgba(255, 255, 255, 0);
    background-image: url("../../2020/05/img_ctafix.png");
    background-position: center center;
    background-size: cover;
}

.elementor-499 .elementor-element.elementor-element-4f42ef0 > .elementor-element-populated,
.elementor-499 .elementor-element.elementor-element-4f42ef0 > .elementor-element-populated > .elementor-background-overlay,
.elementor-499 .elementor-element.elementor-element-4f42ef0 > .elementor-background-slideshow {
    border-radius: 0px 0px 80px 80px;
}

.elementor-499 .elementor-element.elementor-element-4f42ef0 > .elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 140px 0px 0100px 0px;
}

.elementor-499 .elementor-element.elementor-element-4f42ef0 > .elementor-element-populated > .elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-499 .elementor-element.elementor-element-38457a7 {
    width: 207px;
    max-width: 207px;
    top: -18px;
}

body:not(.rtl) .elementor-499 .elementor-element.elementor-element-38457a7 {
    left: 255px;
}

body.rtl .elementor-499 .elementor-element.elementor-element-38457a7 {
    right: 255px;
}

.elementor-499 .elementor-element.elementor-element-cdd3487 .elementor-image img {
    opacity: 0.26;
}

.elementor-499 .elementor-element.elementor-element-cdd3487 {
    width: 207px;
    max-width: 207px;
    top: -198px;
}

body:not(.rtl) .elementor-499 .elementor-element.elementor-element-cdd3487 {
    left: 1008px;
}

body.rtl .elementor-499 .elementor-element.elementor-element-cdd3487 {
    right: 1008px;
}

.elementor-499 .elementor-element.elementor-element-acfd46b {
    text-align: center;
    z-index: 4;
}

.elementor-499 .elementor-element.elementor-element-acfd46b .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 65px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.elementor-499 .elementor-element.elementor-element-e534bd0 .elementor-text-editor {
    text-align: center;
}

.elementor-499 .elementor-element.elementor-element-e534bd0 {
    color: #FFFFFF;
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.5px;
}

.elementor-499 .elementor-element.elementor-element-5e5e1c2 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 0px 10px 0px;
    z-index: 2;
}

.elementor-499 .elementor-element.elementor-element-9c061e4 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-499 .elementor-element.elementor-element-0aba9b9 .elementor-button {
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #00C89C;
    border-style: solid;
    border-color: #00C89C;
    border-radius: 50px 50px 50px 50px;
    padding: 20px 050px 20px 50px;
}

.elementor-499 .elementor-element.elementor-element-0aba9b9 .elementor-button:hover,
.elementor-499 .elementor-element.elementor-element-0aba9b9 .elementor-button:focus {
    color: #00C89C;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.elementor-499 .elementor-element.elementor-element-0aba9b9 .elementor-button:hover svg,
.elementor-499 .elementor-element.elementor-element-0aba9b9 .elementor-button:focus svg {
    fill: #00C89C;
}

.elementor-499 .elementor-element.elementor-element-0aba9b9 > .elementor-widget-container {
    padding: 0px 10px 0px 0px;
}

.elementor-499 .elementor-element.elementor-element-0ce4a73 > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 10px;
}

.elementor-499 .elementor-element.elementor-element-3df6587 .elementor-button {
    font-family: "Poppins", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    fill: #00C89C;
    color: #00C89C;
    background-color: #FFFFFF;
    border-style: solid;
    border-color: #FFFFFF;
    border-radius: 50px 50px 50px 50px;
    padding: 20px 50px 20px 50px;
}

.elementor-499 .elementor-element.elementor-element-3df6587 .elementor-button:hover,
.elementor-499 .elementor-element.elementor-element-3df6587 .elementor-button:focus {
    color: #00C89C;
    background-color: #FFFFFF;
    border-color: #00C89C;
}

.elementor-499 .elementor-element.elementor-element-3df6587 .elementor-button:hover svg,
.elementor-499 .elementor-element.elementor-element-3df6587 .elementor-button:focus svg {
    fill: #00C89C;
}

@media (min-width:768px){
    .elementor-499 .elementor-element.elementor-element-98f96a5 {
        width: 38.251%;
    }

    .elementor-499 .elementor-element.elementor-element-e233285 {
        width: 22.392%;
    }

    .elementor-499 .elementor-element.elementor-element-5e75aec {
        width: 77.608%;
    }

    .elementor-499 .elementor-element.elementor-element-aa9b7ee {
        width: 34.187%;
    }

    .elementor-499 .elementor-element.elementor-element-98d5664 {
        width: 24.784%;
    }

    .elementor-499 .elementor-element.elementor-element-b8a88d7 {
        width: 75.216%;
    }

    .elementor-499 .elementor-element.elementor-element-2178322 {
        width: 27.209%;
    }

    .elementor-499 .elementor-element.elementor-element-c8c837c {
        width: 33.582%;
    }

    .elementor-499 .elementor-element.elementor-element-1067a51 {
        width: 66.418%;
    }

    .elementor-499 .elementor-element.elementor-element-9c061e4 {
        width: 50%;
    }

    .elementor-499 .elementor-element.elementor-element-0ce4a73 {
        width: 50%;
    }
}

@media (max-width:1024px){
    .elementor-499 .elementor-element.elementor-element-cd4b0b2 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 120px 0px 40px 0px;
    }

    .elementor-499 .elementor-element.elementor-element-396f1a0 > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 016px;
    }

    .elementor-499 .elementor-element.elementor-element-8b08694 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 20px 0px 20px 0px;
    }

    .elementor-499 .elementor-element.elementor-element-3256fd0 {
        line-height: 1.5em;
    }

    .elementor-499 .elementor-element.elementor-element-b8a0807 {
        line-height: 1.5em;
    }

    .elementor-499 .elementor-element.elementor-element-597a4ce {
        padding: 0px 26px 0px 26px;
    }

    .elementor-499 .elementor-element.elementor-element-4f42ef0 > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 100px 0px 60px 0px;
    }

    body:not(.rtl) .elementor-499 .elementor-element.elementor-element-38457a7 {
        left: -10px;
    }

    body.rtl .elementor-499 .elementor-element.elementor-element-38457a7 {
        right: -10px;
    }

    .elementor-499 .elementor-element.elementor-element-38457a7 {
        top: -46px;
    }

    .elementor-499 .elementor-element.elementor-element-cdd3487 {
        width: 207px;
        max-width: 207px;
        top: -80px;
    }

    body:not(.rtl) .elementor-499 .elementor-element.elementor-element-cdd3487 {
        left: 635px;
    }

    body.rtl .elementor-499 .elementor-element.elementor-element-cdd3487 {
        right: 635px;
    }
}

@media (max-width:767px){
    .elementor-499 .elementor-element.elementor-element-cd4b0b2 {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 40px 0px 40px 0px;
    }

    .elementor-499 .elementor-element.elementor-element-396f1a0 > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 100px 016px 60px 016px;
    }

    .elementor-499 .elementor-element.elementor-element-b1e7288 > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-499 .elementor-element.elementor-element-dba098d {
        text-align: center;
    }

    .elementor-499 .elementor-element.elementor-element-eb4498d {
        text-align: center;
    }

    .elementor-499 .elementor-element.elementor-element-3256fd0 .elementor-text-editor {
        text-align: center;
    }

    .elementor-499 .elementor-element.elementor-element-3256fd0 > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-499 .elementor-element.elementor-element-9d17222 {
        text-align: center;
    }

    .elementor-499 .elementor-element.elementor-element-462aa0c {
        text-align: center;
    }

    .elementor-499 .elementor-element.elementor-element-75bc2b1 .elementor-text-editor {
        text-align: center;
    }

    .elementor-499 .elementor-element.elementor-element-75bc2b1 > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-499 .elementor-element.elementor-element-57aa4f2 {
        text-align: center;
    }

    .elementor-499 .elementor-element.elementor-element-93c379a {
        text-align: center;
    }

    .elementor-499 .elementor-element.elementor-element-b8a0807 .elementor-text-editor {
        text-align: center;
    }

    .elementor-499 .elementor-element.elementor-element-b8a0807 > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-499 .elementor-element.elementor-element-597a4ce,
    .elementor-499 .elementor-element.elementor-element-597a4ce > .elementor-background-overlay {
        border-radius: 0px 0px 0px 0px;
    }

    .elementor-499 .elementor-element.elementor-element-597a4ce {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-499 .elementor-element.elementor-element-4f42ef0 > .elementor-element-populated,
    .elementor-499 .elementor-element.elementor-element-4f42ef0 > .elementor-element-populated > .elementor-background-overlay,
    .elementor-499 .elementor-element.elementor-element-4f42ef0 > .elementor-background-slideshow {
        border-radius: 0px 0px 40px 40px;
    }

    .elementor-499 .elementor-element.elementor-element-4f42ef0 > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 60px 016px 40px 016px;
    }

    .elementor-499 .elementor-element.elementor-element-38457a7 {
        width: 129px;
        max-width: 129px;
        top: -17px;
    }

    body:not(.rtl) .elementor-499 .elementor-element.elementor-element-38457a7 {
        left: -5px;
    }

    body.rtl .elementor-499 .elementor-element.elementor-element-38457a7 {
        right: -5px;
    }

    body:not(.rtl) .elementor-499 .elementor-element.elementor-element-cdd3487 {
        left: 70px;
    }

    body.rtl .elementor-499 .elementor-element.elementor-element-cdd3487 {
        right: 70px;
    }

    .elementor-499 .elementor-element.elementor-element-cdd3487 {
        top: 272px;
    }

    .elementor-499 .elementor-element.elementor-element-acfd46b .elementor-heading-title {
        font-size: 35px;
    }

    .elementor-499 .elementor-element.elementor-element-9c061e4 > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 10px 0px;
    }

    .elementor-499 .elementor-element.elementor-element-0aba9b9 > .elementor-widget-container {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-499 .elementor-element.elementor-element-0ce4a73 > .elementor-element-populated {
        margin: 0px 0px 0px 0px;
        padding: 10px 0px 0px 0px;
    }
}